<div class= "room_header">
<h1 class= "header_left">ルーム名：<%= @post.title %></h1>


<%= link_to(post_path(@post), class: 'purchase-btns') do %>
      <span class='purchase-btn-texts'>退出</span>
      <% end %>
</div>

<div class="message-top">
   
   <div class="message-upper">
  <% @messages.each do |message| %>
  <div class="message-list">
    <%= message.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
   
   <%= message.user.nickname%>
   
   <%= message.comment%>

   </div>
 
   
</div>

<% end %>
<%= form_with model: [@post,@message], class: 'form', local: true do |f| %>
<div class="form-input">
    <p><%= f.text_area :comment, class: 'form-message', placeholder: 'type a message' %></p>
    <label class="form-image">
      <span class="image-file">画像を添付できます</span>
      <p><%= f.file_field :image, class:"hidden" %></p>
    </label>

  <p><%= f.submit '送信', class: 'form-submit' %></p>
 
<% end %>
</div>