
<div class= "post_header">
ルーム名：<%= @post.title %>



      
      
</div>

<div class="messages">
  <%= render partial: 'message', collection: @messages %>
</div>


<%= form_with model: [@post,@message], class: 'form', local: true do |f| %>
<div class="form-input">
    <p><%= f.text_area :comment, class: 'form-message', placeholder: 'メッセージ入力 or 画像添付' %></p>
    <label class="form-image">
      <span class="image-file">画像</span>
      <p><%= f.file_field :image, class:"hidden" %></p>
    </label>

  <p><%= f.submit '送信', class: 'form-submit' %></p>
 
<% end %>
</div>
 
      <%= link_to(post_path(@post), class: 'exit_link') do %>
      <span class='exit-btn-text'>退出</span>
      <% end %>
 