<% @post.each do |post| %>
      <div class="flex" >
      <%#item_path(item.id)%>
        <%= link_to   post_path(post.id) do  %> 
        <p class="post_all">タイトル：<%= post.title %></p>
        <p><%= image_tag post.image, size:"400x400" %></p>
             <% end %>
        <p class="post_all">魚の種類：<%= post.aimble_fish%>
        
        <p class="post_all">投稿者：<%=post.user.nickname%>さん</p>

      </div>
      
<% end %>