   <div class="form_wrapper">
<h2 class="page-heading">ス ポ ッ ト 編 集</h2>
</div>

 
 <div class="inner">
<%= form_with model: @post, local: true do |f|%>

<%= render 'layouts/error_messages', model: f.object %>

  <div class="field">
    <%= f.label :title, "タイトル" %><br />
    <%= f.text_field :title, class:"form_field" %>
  </div>

  <div class="field">
    <%= f.label :aimble_fish, "魚の種類" %><br />
        <%= f.text_field :aimble_fish, class:"form_field", id:"aimable_fish" %>
  </div>

  <div class="field">
    <%= f.label :time_zone_id, "時間帯" %><br />
    <%= f.collection_select(:time_zone_id, TimeZone.all, :id, :name, {}, {class:"form_field"}) %>
  </div>

  <div class="field">
    <%= f.label :trick, "おすすめの仕掛け（任意）" %><br />
    <%= f.text_field :trick, class:"form_field", id:"trick" %>
  </div>

  <div class="field">
    <%= f.label :comment, "場所の紹介（任意）" %><br />
    <%= f.text_area :comment, class:"form_field", id:"comment", placeholder:"スポットの詳細情報を記載お願いします" %>
  </div>

  <div class="field_image">
    <%= f.label :image, "スポットの画像" %><br />
    <%= f.file_field :image, id:"image" %>
  </div>

  <div class="field">
    <%= f.submit "保存する", class: "form_btn"  %>
  </div>
<% end %>
</div>
