<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
   
    
  </head>

  <body>
<main>
<%# 上部の写真表記 %>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
<<<<<<< Updated upstream
        <%= image_tag "IMG_0292.jpg",size:"100x100"%>
=======
        <%= image_tag "IMG_0307.jpeg"%>
>>>>>>> Stashed changes
        <div class="container">
          <div class="carousel-caption">
            <p>フェリー埠頭</p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <%= image_tag "IMG_0310.jpeg"%>
        <div class="container">
          <div class="carousel-caption">
            <p>館鼻漁港 </p>
          </div>
        </div>
      </div>
      
      <div class="carousel-item">
        <%= image_tag "IMG_0313.jpeg"%>
        <div class="container">
          <div class="carousel-caption ">
            <p>蕪島 漁船</p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <%= image_tag "IMG_0311.jpeg"%>
        <div class="container">
          <div class="carousel-caption ">
            <p>蕪嶋神社</p>
          </div>
        </div>
      </div>
      </div>
    </div>
    
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
  
    <%# 特徴表記 %>
   <div class="body-point">
       <div class="feature">
         <h2><span class="blue">fish-spot</span>の特徴</h2>  
      </div>
   </div>
        <div class="flat-body">
        
        <div class="col-lg-5">
          <svg class="img" ><%= image_tag "e00f42e8ff127556b676fb31f7309396.png", size: "550x350"  %></svg>
          <h2 class="jouhou">釣りスポットを共有しよう！</h2>
          <p class="font-size">八戸近郊の釣りスポット、おすすめの時間を共有し投稿できる。</p>
        </div>

        <div class="col-lg-4">
          <svg class="img"  ><%= image_tag "sample_image.png", size: "550x350"  %></svg>
          <h2 class="jouhou">情報共有をしよう！</h2>
          <p class="font-size">チャットルーム内でメッセージを送り、状況を共有できる。</p>
          <p class="font-size">共有内容は状況だけでなく、自分の釣った魚を自慢するのもあり！自由になんでも送ってみよう！</p>
        </div>
        </div>
    
    <div class="border"></div>
    
   <%# 投稿一覧、地図表記 %>
  <div class="beside">
   
    <div class="fish-flat">
      <%= render partial: 'post' %>
    </div>

     <%= link_to  'スポット一覧', chart_posts_path(@post), class: "body_chart" %></p> 

    <div class="border"></div>
  
   
      <div class="google_map">
         <%#= render partial: 'map' %>
         <%= render partial: 'test' %>
      </div>
  </div>
    

 
</main>

   <%if user_signed_in? %>
      <%= link_to(new_post_path, class: 'purchase-btn') do %>
      <span class='purchase-btn-text'>新規投稿</span>
      <% end %>
   <% end %>




  </body>
</html>
