           
        <div class="show">
        <p class="posts_all">タイトル：<%= @post.title %></p>
<div class="pictue">
              <p><%= image_tag @post.image, size:"400x400" %></p>
           </div>
             
        <p class="posts_all">狙える魚：<%= @post.aimble_fish%>
        <p class="posts_all">おすすめの時間帯：<%= @post.time_zone.name%>
        <p class="posts_all">おすすめの仕掛け：<%= @post.trick%>
        <p class="posts_all">ポイントの説明：<%= @post.comment%>
        <p class="posts_all">投稿者：<%=@post.user.nickname%></p>
        </div>

        <%if user_signed_in?%>
        <%= link_to 'チャットする', "#" %>
        <% if current_user == @post.user %>
        <%= link_to '編集', edit_post_path %>
        <%= link_to '削除', "#" %>
        <% end %>


        <%end%>