<!DOCTYPE html>
<html>
  <head>
    <title>FishSpot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet"%>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <header>
   <nav class="navbar navbar-expand-md navbar-dark ">
    <div class="container-fluid">
      <%= link_to "fish-spot", root_path, class:"navbar-brant" %>

      
      <% if user_signed_in?%>
        <div class=flat-header>
           <%= link_to "#{current_user.nickname}さん", root_path, class: "log"%>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "log" %>
            
         </div>
      <% else %>
          <div class=flat-header>
            <%= link_to 'ログイン', new_user_session_path, class: "log" %>
            <%= link_to '新規登録', new_user_registration_path, class: "log" %>
          </div>
      <% end %>
    </div>

  </header>

  <body>
    <%= yield %>
  </body>

  <footer >
 
    <p class="float-end"><%= link_to 'fish-spot', root_path,  class: "footer_text" %></p>
    <p> <a class="footer_text" href="#">特徴</a> <%= link_to  '投稿一覧', chart_posts_path(@post), class: "footer_text" %></p> 
     
  </footer>

  


</html>
